.about-wrap {
    padding-top: 120px;
    padding-bottom: 120px;
    display: block;
    overflow: hidden;
}

.bout-contains {}

.about-contains-left {}

.person-image {
    border-radius: 10px;
    width: 460px;
    height: 473px;
}

.person-image img {
    width: 460px;
    height: 473px;
    border-radius: 10px;
}

.parts-image {
    width: 327px;
    height: 332px;
    top: 40%;
    left: 30%;
}

.parts-image img {
    width: 327px;
    height: 332px;
    border-radius: 10px;
    border-radius: 10px;
    border: 10px solid #FFF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray -97.061px -14.435px / 158.717% 104.348% no-repeat;


}

.about-contains-right {}

.about-btn {
    border-radius: 5px;
    background: var(--orange-01);
    border: none;
    color: white;
}

.about-btn:hover {
    background: linear-gradient(90deg, #110b16 0%, rgba(110, 19, 19, 0) 100%);
    color: var(--orange-01);
}