.contact-wrap {
    padding: 73px;
    border-radius: 10px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.contact-contains {}

.contact-contain {}

.contact-contain-icon {
    width: 40.857px;
    height: 40.857px;
    margin-top: 8px;
}